@model TalentAgileShop.Web.Models.ProductViewModel
@{
    ViewBag.Title = Model.Product.Name;

    var apiUrl = Request.Url.GetLeftPart(UriPartial.Authority) + "/_api/cart";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <img src="@Url.Action("ProductImage", new {id = Model.Product.Id})" class="img-responsive" alt="@Model.Product.Name" />
            <h2>@Model.Product.Name</h2>
            <div>@Model.Product.Description</div>
        </div>
        <div class="col-md-offset-2 col-md-3">

            <h3>Price:  @Model.Product.Price € TTC</h3>
            <h4>Item size : @Model.Product.Size</h4>
            <h4>Category : @Model.Product.Category.Name</h4>
            <h4>Origin : @Model.Product.Origin.Name</h4>
            <a class="btn btn-default btn-primary" id="addToCartButton">Add to cart</a>
        </div>
    </div>
</div>

@section  scripts
{
    <script type="text/javascript">
        var productId = "@Model.Product.Id";
        var cartApiUrl = "@apiUrl";
    </script>
    <script src="~/Scripts/site/log.js">
    </script>
    <script src="~/Scripts/site/product.js">
    </script>
}






